
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<h1> Oppss !</h1>

<h1>Bir Hata Oluştu !</h1>
<a href="/" class="btn btn-danger btn-block">Anasayfaya Dön</a>
