@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-logo">
    <a href="#"><b>Şifre Hatırlat</b></a>
</div>
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Şifreniz Mail Adresinize Gönderilir.</p>
        <div id="formContainer">
            <form asp-action="ForgotPassword" method="post" id="forgotPasswordForm">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="input-group mb-3">
                    <input type="email" asp-for="Email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope" asp-validation-for="Email"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" id="submitButton" class="btn btn-primary btn-block">Şifre Sıfırlama Linki Gönder</button>
                        <span id="loadingMessage" style="display:none;">İşlem yapılıyor, lütfen bekleyin...</span>
                        <a href="/login" class="btn btn-danger btn-block">Login Sayfasına Dön</a>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
<script>
        document.getElementById("forgotPasswordForm").addEventListener("submit", 
        function(){
            document.getElementById("submitButton").disabled = true;
            document.getElementById("loadingMessage").style.display = "inline";
        });
</script>

