
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h3>Şifre sıfırlama bağlantısı e-posta adresinize gönderildi.</h3>
<br />
<a href="/login" class="btn btn-danger btn-block">Giriş Sayfasına Dön</a>


