
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<br />

<h3>Şifreniz başarıyla sıfırlandı. Yeni şifrenizle giriş yapabilirsiniz.</h3>
<a href="/login" class="btn btn-danger btn-block">Giriş Sayfasına Dön</a>