
@{
    ViewData["Title"] = "AssignAdminRole";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1>AssignAdminRole</h1>
<form action="AssignAdminRole" method="post">
    <input type="email" name="email" value="" />
    <input type="password" name="password" value="" />
    <input type="submit" value="Ekle" />
</form>
