@model PageData
@{
    ViewData["Title"] = "CreatePageData";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-12">
                <h2>Yeni İçerik Grubu Ekle</h2>
                <form asp-action="CreatePageData" method="post">
                    <input type="hidden" asp-for="PageId" />

                    <div class="form-group">
                        <label asp-for="Content"></label>
                        <input asp-for="Content" class="form-control" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <a asp-action="PageDataIndex" asp-route-pageId="@Model.PageId" class="btn btn-secondary">İptal</a>
                </form>
            </div>
        </div>
    </section>
</div>