@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
<section class="content">
    <div class="row">
        <div class="col-12"></div>
    </div>
</section>
</div>